body {
  /* background-image: linear-gradient(to top, #fff 0%,lightgray 70%, #141414 100%); */
  font-family: 'Cairo', sans-serif;
}

.navbar-content {
  margin: 0;
  padding: 0 50px;
  background-color: #121212;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-face {
  height: 60px;
}

.nav-tab {
  color: #fff;
  padding: 0 30px;
  font-size: 20px;
  height: 100%;
  font-weight: 900;
  transition: all .2s ease-in-out;
}

.nav-tab:hover {
  /* color: #dc6910; */
  color: #e31a6d;
  transform: scale(1.2);
}

.landing-content {
  height: 100vh;
  width: 100%;
}

.landing-text {
  color: #fff;
  font-size: 38px;
  border: 2px solid #121212;
  border-radius: 10px;
  padding: 15px 30px;
  background-color: rgba(249,249,249, 0.2);
  font-weight: 900;
  box-shadow:0 10px 16px 0 rgba(255,255,255,0.2),0 6px 20px 0 rgba(255,255,255,0.19);
}

.landing-btn {
  font-size: 26px;
  border: 2px solid #121212;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 40px;
  /* background-color: rgba(227,26,109,0.5); */
  background-color: rgba(249,249,249, 0.2);
  color: #fff;
  font-weight: 700;
  box-shadow:0 10px 16px 0 rgba(255,255,255,0.2),0 6px 20px 0 rgba(255,255,255,0.19);
  transition: all .2s ease-in-out;
}

.landing-btn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background-color: rgba(227,26,109,0.5);
}


.name {
  color: #e31a6d;
}

.landing-text-btn {
  margin: 10px auto;
  font-size: 20px;
  width: 20%;
  border: 1px solid #fff;
}

@media screen and (max-width: 400px) {
  .landing-text {
    font-size: 20px;
    width: 90%;
  }

  .landing-btn {
    font-size: 18px;
  }
}

#canvas-image-blending {
  z-index: -1;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

